{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width ,initialscale=1">
    <title>TODO FRUITS ITEMS</title>
    <link rel="stylesheet" href="{%static 'todolist/style.css' %}"/>
  </head>
  <body>
    <h1 id="myHeading">JavaScript and the DOM</h1>
    <p>Making a web page interactive</p>
    <button id="toggleList">Hide list</button>
    <div class="list">
      <p class="description">Things that are purple:</p>
      <input type="text" class="description">
      <button class="description">Change list description</button>
      <ul>
        <li>grapes
       
        </li>
        <li>amethyst
       
        </li>
        <li>lavender
      
        </li>
        <li>plums
         
        </li>
      </ul>
      <input type="text" class="addItemInput">
      <button class="addItemButton">Add item</button>
      <button class="removeItemButton">Remove last item</button>
    </div>
    <script src="app.js"></script>
  </body>
</html>
